main.container {
  padding: 30px 15px 0;
}
.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
}
.footer > .container {
  text-align: center;
}

.mat-snack-bar-container {
  max-width: 65vw !important;
  white-space: pre-wrap !important;
}
