<app-progress-spinner [backdropEnabled]="true" [positionGloballyCenter]="true" [displayProgressSpinner]="loading">
</app-progress-spinner>

<div *ngIf="errorMessage">
  <div class="alert alert-danger alert-dismissible" #errorMessageAlert>
    <div [innerHTML]="errorMessage"></div>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeErrorMessage()"></button>
  </div>
</div>

<mat-card>
  <mat-card-title>
    <div class="row">
      <div class="col">
        Configuration
      </div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>Set and update configuration settings</mat-card-subtitle>
</mat-card>
<p></p>
<mat-tab-group animationDuration="0ms" dynamicHeight color="accent" #tabGroup>
  <mat-tab label="Settings">
    <form [formGroup]="form" novalidate>
      <div class="alert alert-dark my-4">
        Please note that after changing fields marked with <mat-icon style='font-size:16px'>build</mat-icon>icon you
        will need to run Setup again.<br>
      </div>
      <div class="row" *ngIf="commit_link">
        <div class="col-10 py-3">
          <a href="{{commit_link}}">{{commit_link}}</a>
        </div>
      </div>
      <div class="row" *ngIf="config_file">
        <div class="col-10 py-3">
          Config file: {{config_file}}
        </div>
      </div>
      <!-- merchant_id -->
      <div class="row my-2">
        <div class="col-10">
          <mat-form-field appearance="outline" color="accent" class="full-width">
            <mat-label>GMC account id</mat-label>
            <input matInput formControlName="merchant_id" [readonly]="editable ? false : true"
              [errorStateMatcher]="matcher">
            <mat-icon matSuffix>build</mat-icon>
            <mat-hint>A GMC account (merchant id) to create data transfer for. Can be either a child account or a MCA
              account.
            </mat-hint>
            <mat-error *ngIf="form.get('merchant_id')?.errors?.required">
              GMC account id is required
            </mat-error>
            <mat-error>{{ form.get('merchant_id')?.getError('invalid') }} </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- dataset_id -->
      <div class="row my-2">
        <div class="col-10">
          <mat-form-field appearance="outline" color="accent" class="full-width">
            <mat-label>BigQuery dataset id</mat-label>
            <input matInput formControlName="dataset_id" [readonly]="editable ? false : true"
              [errorStateMatcher]="matcher">
            <mat-icon matSuffix>build</mat-icon>
            <mat-hint>Dataset id in BigQuery for GMC-BQ data transfer. If empty then 'gmcdsa' will be used</mat-hint>
            <mat-error> {{ form.get('dataset_id')?.getError('invalid') }} </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- dataset_location -->
      <div class="row my-2">
        <div class="col-10">
          <mat-form-field appearance="outline" color="accent" class="full-width">
            <mat-label>BigQuery dataset location</mat-label>
            <input matInput formControlName="dataset_location" [readonly]="editable ? false : true"
              [errorStateMatcher]="matcher">
            <mat-icon matSuffix>build</mat-icon>
            <mat-hint>Location region for dataset in BigQuery (e.g. 'us' or 'europe'). Can be empty.</mat-hint>
            <mat-error>{{ form.get('dataset_location')?.getError('invalid') }} </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- dt_schedule -->
      <div class="row my-2">
        <div class="col-10">
          <mat-form-field appearance="outline" color="accent" class="full-width">
            <mat-label>DT schedule</mat-label>
            <input matInput formControlName="dt_schedule" [readonly]="editable ? false : true"
              [errorStateMatcher]="matcher">
            <mat-icon matSuffix>build</mat-icon>
            <mat-hint>Schedule for executing data transfer. By default - daily. Can be empty. E.g. "every 6 hours"
            </mat-hint>
            <mat-error>{{ form.get('dt_schedule')?.getError('invalid') }} </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- Targets -->
      <span formArrayName="targets" *ngFor="let target of targets.controls; let i=index">
        <mat-card [formGroupName]="i" class="my-2">
          <div class="row">
            <div class="col-10">
              <h4>Target</h4>
            </div>
          </div>
          <!-- name -->
          <div class="row my-2">
            <div class="col-10">
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>Target name</mat-label>
                <input matInput formControlName="name" [readonly]="editable ? false : true"
                  [errorStateMatcher]="matcher">
                <mat-icon matSuffix>build</mat-icon>
                <mat-hint>A unique target name. Please use only A-Za-z0-9_- symbols</mat-hint>
                <mat-error *ngIf="target.get('name')?.errors?.required">
                  Target name is required
                </mat-error>
                <mat-error>{{ target.get('name')?.getError('invalid') }} </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- merchant_id -->
          <div class="row my-2">
            <div class="col-10">
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>GMC account id</mat-label>
                <input matInput formControlName="merchant_id" [readonly]="editable ? false : true"
                  [errorStateMatcher]="matcher">
                <mat-icon matSuffix>build</mat-icon>
                <mat-hint>A child GMC account or a list of children accounts to narrow products from the root account.
                </mat-hint>
                <mat-error>{{ target.get('merchant_id')?.getError('invalid') }} </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- country_code -->
          <div class="row my-2">
            <div class="col-10 mb-3">
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>Country code</mat-label>
                <input matInput formControlName="country_code" [readonly]="editable ? false : true"
                  [errorStateMatcher]="matcher">
                <mat-icon matSuffix>build</mat-icon>
                <mat-hint>A country code to additionally filter products. It's required if your GMC feed populated with
                  products for several countries.
                  Technically it'll be a condition on destinations.approved_countries field in BQ.
                  Can be a code like 'US', 'RU', 'IL', etc.
                </mat-hint>
                <mat-error>{{ target.get('country_code')?.getError('invalid') }} </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- page_feed_name -->
          <div class="row my-2">
            <div class="col-10">
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>Page feed name</mat-label>
                <input matInput formControlName="page_feed_name" [readonly]="editable ? false : true"
                  [errorStateMatcher]="matcher">
                <mat-hint>Name of page feed in Google Ads. Leave black for default 'pdsa-page-feed'</mat-hint>
                <mat-error>{{ target.get('page_feed_name')?.getError('invalid') }} </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- page_feed_spreadsheetid -->
          <div class="row my-2">
            <div class="col-10">
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>Page feed spreadsheet id</mat-label>
                <input matInput formControlName="page_feed_spreadsheetid" [readonly]="editable ? false : true"
                  [errorStateMatcher]="matcher">
                <mat-hint>Google Spreadsheet docid for DSA page feed</mat-hint>
                <mat-error>{{ target.get('page_feed_spreadsheetid')?.getError('invalid') }} </mat-error>
              </mat-form-field>
            </div>
            <div class="col-1">
              <a href="https://docs.google.com/spreadsheets/d/{{ target.get('page_feed_spreadsheetid')?.value }}"
                target="_blank">Open</a>
            </div>
          </div>
          <!-- adcustomizer_feed_name -->
          <div class="row my-2">
            <div class="col-10">
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>Ad customizers feed name</mat-label>
                <input matInput formControlName="adcustomizer_feed_name" [readonly]="editable ? false : true"
                  [errorStateMatcher]="matcher">
                <mat-hint>Name of ad customizers feed in Google Ads. Leave blank for default 'pdsa-adcustomizers'
                </mat-hint>
                <mat-error>{{ target.get('adcustomizer_feed_name')?.getError('invalid') }} </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- adcustomizer_spreadsheetid -->
          <div class="row my-2">
            <div class="col-10">
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>Ad customizers feed spreadsheet id</mat-label>
                <input matInput formControlName="adcustomizer_spreadsheetid" [readonly]="editable ? false : true"
                  [errorStateMatcher]="matcher">
                <mat-hint>Google Spreadsheet docid for Ad customizers feed</mat-hint>
                <mat-error>{{ target.get('adcustomizer_spreadsheetid')?.getError('invalid') }} </mat-error>
              </mat-form-field>
            </div>
            <div class="col-1">
              <a href="https://docs.google.com/spreadsheets/d/{{ target.get('adcustomizer_spreadsheetid')?.value }}"
                target="_blank">Open</a>
            </div>
          </div>
          <!-- dsa_lang -->
          <div class="row my-2">
            <div class="col-10">
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>DSA language</mat-label>
                <input matInput formControlName="dsa_lang" [readonly]="editable ? false : true"
                  [errorStateMatcher]="matcher">
                <mat-hint>A language code for DSA ads, e.g. 'en'</mat-hint>
                <mat-error>{{ target.get('dsa_lang')?.getError('invalid') }} </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- dsa_website -->
          <div class="row my-2">
            <div class="col-10">
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>DSA website</mat-label>
                <input matInput formControlName="dsa_website" [readonly]="editable ? false : true"
                  [errorStateMatcher]="matcher">
                <mat-hint>Website address without protocol prefix</mat-hint>
                <mat-error>{{ target.get('dsa_website')?.getError('invalid') }} </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- category_campaign_name -->
          <div class="row my-2">
            <div class="col-10">
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>Category campaign name</mat-label>
                <input matInput formControlName="category_campaign_name" [readonly]="editable ? false : true"
                  [errorStateMatcher]="matcher">
                <mat-hint></mat-hint>
                <mat-error>{{ target.get('category_campaign_name')?.getError('invalid') }} </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- product_campaign_name -->
          <div class="row my-2">
            <div class="col-10">
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>Product campaign name</mat-label>
                <input matInput formControlName="product_campaign_name" [readonly]="editable ? false : true"
                  [errorStateMatcher]="matcher">
                <mat-hint></mat-hint>
                <mat-error>{{ target.get('product_campaign_name')?.getError('invalid') }} </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- skip_additional_images -->
          <div class="row my-2">
            <div class="col-10">
              <mat-slide-toggle formControlName="skip_additional_images" [disabled]="editable ? false : true">Skip
                additional images (use only main one)</mat-slide-toggle>
            </div>
          </div>
          <!-- max_image_count -->
          <div class="row my-2">
            <div class="col-10">
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>Maximum image count</mat-label>
                <input matInput type="number" formControlName="max_image_count" [readonly]="editable ? false : true"
                  [errorStateMatcher]="matcher">
                <mat-hint>Maximum number of images per product (makes sense only if you didn't skip additional images).
                  By default - unlimited.</mat-hint>
                <mat-error>{{ target.get('max_image_count')?.getError('invalid') }} </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- max_image_dimension -->
          <div class="row my-2">
            <div class="col-10">
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>Maximum image dimension</mat-label>
                <input matInput type="number" formControlName="max_image_dimension" [readonly]="editable ? false : true"
                  [errorStateMatcher]="matcher">
                <mat-hint>Specify a maximum dimension (width/height) for images, bigger images will be resized. By
                  default 1200 px</mat-hint>
                <mat-error>{{ target.get('max_image_dimension')?.getError('invalid') }} </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- ad_description_template -->
          <div class="row my-2">
            <div class="col-10">
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>Ad description template</mat-label>
                <input matInput formControlName="ad_description_template" [readonly]="editable ? false : true"
                  [errorStateMatcher]="matcher">
                <mat-hint>Template for ad descriptions using fields from adcustomizer feed. You can use any fields from
                  the feed as {{ '{' }}field}</mat-hint>
                <mat-error>{{ target.get('ad_description_template')?.getError('invalid') }} </mat-error>
              </mat-form-field>
            </div>
            <div class="col-2" style="padding-top: 15px;">
              <app-popover [content]="popoverContent" mode="toggle">
                <mat-icon matSuffix style="vertical-align: bottom; margin-left: 5px; cursor: pointer;">
                  help_outline</mat-icon>
              </app-popover>
              <ng-template #popoverContent>
                <div style="width: 300px">
                  The fields inside curly brackets will be expanded to standard ad customizers syntax.
                  But you can always use ad customizers syntax directly: {{'{'}}=feedname.feedatribute:&lt;default
                  value&gt;}
                  (e.g. if you need <code>IF</code> or <code>COUNTDOWN</code> functions, or default values).<br>
                  More details on how ad customizers work see in this <a target="_blank"
                    href='https://www.youtube.com/watch?v=f2KDdxDvTTE'>video</a> and <a target="_blank"
                    href='https://support.google.com/google-ads/answer/6093368'>HC article</a>.<br>
                  To see all available fields to use in template, generate and open your ad customizers feed.
                  Additionally you can use static product description - {{'{'}}product_description} and
                  product custom description (that you can enter for each product on <a
                    routerLink="/products">Products</a> page)
                </div>
              </ng-template>

            </div>
          </div>
          <!-- product_description -->
          <div class="row my-2">
            <div class="col-10">
              <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>Static product description</mat-label>
                <input matInput formControlName="product_description" [readonly]="editable ? false : true"
                  [errorStateMatcher]="matcher">
                <mat-hint>Static description for all product-level ads. Can be used in adcustomizers as
                  {{'{'}}product_description} field</mat-hint>
                <mat-error>{{ target.get('product_description')?.getError('invalid') }} </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- product_description_as_fallback_only -->
          <div class="row my-2">
            <div class="col-10">
              <mat-slide-toggle formControlName="product_description_as_fallback_only"
                [disabled]="editable ? false : true">Use
                static description only if product description exceeds maximum ad description length
              </mat-slide-toggle>
            </div>
          </div>
          <!-- category_ad_descriptions -->
          <div class="row my-2">
            <div class="col">
              <mat-expansion-panel #executionLogPanel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>Label to description mapping</mat-panel-title>
                  <mat-panel-description>Click to expand</mat-panel-description>
                </mat-expansion-panel-header>
                <mat-table [dataSource]="dataSourceLabelDescs[i]" class="full-width app-label-desc-list">
                  <mat-header-row *matHeaderRowDef="(columnsLabelDescripions )"></mat-header-row>
                  <mat-row *matRowDef="let row; let e = index; columns: (columnsLabelDescripions )">
                  </mat-row>
                  <ng-container matColumnDef="label">
                    <mat-header-cell *matHeaderCellDef>Label</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                      <mat-form-field appearance="legacy" color="accent" class="full-width"
                        [ngClass]="{'no-underline' : !editable}">
                        <input matInput type="text" formControlName="label" [readonly]="!editable">
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index" [formGroup]="element"
                      [matTooltip]="element.get('description').value">
                      <mat-form-field appearance="legacy" color="accent" class="full-width"
                        [ngClass]="{'no-underline' : !editable}">
                        <input matInput type="text" formControlName="description" [readonly]="!editable">
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let element; let item_index = index" [formGroup]="element">
                      <span style="white-space:nowrap;width: 150px">
                        <button mat-icon-button color="warn" *ngIf="editable"
                          (click)="labelDescList_deleteRow(i, item_index)" matTooltip="Delete">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </span>
                    </mat-cell>
                  </ng-container>
                  <ng-template matNoDataRow>
                    <div class="alert">No descriptions found</div>
                  </ng-template>
                </mat-table>
                <button mat-icon-button *ngIf="editable" (click)="labelDescList_addNew(i)" class="mx-3">
                  <mat-icon class="add-button">add_box</mat-icon>
                </button>
              </mat-expansion-panel>
            </div>
          </div>
          <!-- Delete Target -->
          <div class="row">
            <div class="col">
              <mat-card-actions>
                <button mat-button *ngIf="editable" (click)="deleteTarget(i)" color="accent">
                  <mat-icon>delete</mat-icon> Delete Target
                </button>
              </mat-card-actions>
            </div>
          </div>
        </mat-card>
      </span>
      <!-- Add Target -->
      <div class="row">
        <div class="col-10">
          <button mat-button (click)="addTarget()" color="accent" *ngIf="editable">
            <mat-icon>add</mat-icon> Add Target
          </button>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-7">
          <button mat-raised-button (click)="reload()" color="accent" class="mx-2 mat-elevation-z2"
            [disabled]="editable">
            <mat-icon>refresh</mat-icon> Reload
          </button>
          <button mat-raised-button (click)="edit()" class="mx-2 mat-elevation-z2" *ngIf="!editable">
            <mat-icon>edit</mat-icon> Edit
          </button>
          <button mat-raised-button (click)="save()" color="accent" class="mx-2 mat-elevation-z2" *ngIf="editable">
            <mat-icon>upload</mat-icon> Save
          </button>
          <button mat-raised-button (click)="cancel()" class="mx-2 mat-elevation-z2" *ngIf="editable">
            <mat-icon>cancel</mat-icon> Cancel
          </button>
        </div>
        <div class="col-5 text-end">
          <button mat-raised-button (click)="shareSpreadsheets()" class="mx-3 mat-elevation-z2">
            <mat-icon>share</mat-icon> Share Spreadsheets
          </button>
        </div>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Setup">
    <form [formGroup]="formSetup" novalidate>
      <mat-card class="setup">
        <div class="alert alert-dark my-4">
          Before running setup please make sure you granted your service account
          ({{service_account}}) access permissions (Standard) to your GMC account.
        </div>
        <div class="row">
          <div class="col text-start">
            <button mat-raised-button (click)="validateSetup()" color="accent" class="mat-elevation-z2">
              <mat-icon>check</mat-icon> Validate Setup
            </button>
            <button mat-raised-button (click)="runSetup()" color="accent" class="mx-3 mat-elevation-z2">
              <mat-icon>bolt</mat-icon> Run Setup
            </button>
          </div>
          <div class="col">
            <mat-checkbox formControlName="skip_dt_run">Skip running Data Transfer</mat-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div style="max-height: 400px; overflow: auto;">
              <ul #eventList class="event-list"></ul>
            </div>
          </div>
        </div>
      </mat-card>
    </form>
  </mat-tab>
</mat-tab-group>