<app-progress-spinner [backdropEnabled]="true" [positionGloballyCenter]="true" [displayProgressSpinner]="loading">
</app-progress-spinner>

<div *ngIf="errorMessage">
  <div class="alert alert-danger alert-dismissible" #errorMessageAlert>
    <div [innerHTML]="errorMessage"></div>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeErrorMessage()"></button>
  </div>
</div>

<mat-card>
  <mat-card-title>
    <div class="row">
      <div class="col">
        Generation
      </div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>Generate Google Ads campaigns and feed data</mat-card-subtitle>
</mat-card>
<p></p>

<mat-card>
  <div class="row text-center">
    <div class="col-6 px-3 py-3">
      <mat-divider [vertical]="true" inset="true" style="height: 100%;float:right"></mat-divider>
      <h1 class="display-5 fw-bold text-center">Guided wizard</h1>
      <p></p>
      <button mat-raised-button (click)="openGuidedWizard()" color="accent" class="mat-elevation-z2">
        <mat-icon>bolt</mat-icon> Run
      </button>
    </div>
    <div class="col-6 px-3 py-3">
      <h1 class="display-5 fw-bold text-center">Direct execution</h1>
      <p></p>
      <button mat-raised-button (click)="updatePageFeed()" color="accent" class="mat-elevation-z2" style="width:200px">
        Update page feed
      </button>
      <p></p>
      <button mat-raised-button (click)="updateAdCustomizers()" color="accent" class="mat-elevation-z2" style="width:200px">
        Update ad customizers
      </button>
      <p></p>
      <button mat-raised-button (click)="generateAdCampaign()" color="accent" class="mat-elevation-z2" style="width:200px">
        Regenerate campaign data
      </button>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="text-center">Useful links</h2>
      <p></p>
      <ul>
        <li><a href="https://support.google.com/ads-help/answer/7365697" target="_blank">Dynamic Search Ads (DSA) campaign issues: Troubleshoot</a></li>
      </ul>
    </div>
  </div>

</mat-card>
