.mat-table {
  width: 100%;
}
th.mat-header-cell, td.mat-cell {
  padding-right: 5px;
}
.mat-column-in_stock {
  text-align: center;
}
.mat-header-cell {
  text-align: center;
}

.list-filter mat-radio-group {
  display: flex;
  flex-direction: column;
  //margin: 15px 0;
}

.list-filter mat-radio-button {
  margin: 5px;
}