<app-progress-spinner [backdropEnabled]="true" [positionGloballyCenter]="true" [displayProgressSpinner]="loading">
</app-progress-spinner>

<div *ngIf="errorMessage">
  <div class="alert alert-danger alert-dismissible" #errorMessageAlert>
    <div [innerHTML]="errorMessage"></div>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeErrorMessage()"></button>
  </div>
</div>

<mat-card>
  <mat-card-title>
    <div class="row">
      <div class="col">
        Step-by-step wizard
      </div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>Generate Google Ads campaigns and feed data</mat-card-subtitle>
</mat-card>
<p></p>
<form [formGroup]="form" novalidate>
  <mat-stepper orientation="vertical">
    <mat-step>
      <ng-template matStepLabel>Generate page feed</ng-template>
      <ng-template matStepContent>
        <div class="row">
          <div class="col">
            <p>Press Run to generate page feed data, as it completes you'll get a CSV file and Google Spreadsheet</p>
            <button mat-raised-button (click)="generatePageFeed()" color="accent" class="mat-elevation-z2">
              Run
            </button>
            <!-- <mat-form-field appearance="outline" color="accent">
              <mat-label>Output file</mat-label>
              <input matInput formControlName="pagefeed_output_file" readonly>
              <mat-hint></mat-hint>
            </mat-form-field> -->
          </div>
        </div>
        <div class="row">
          <div class="col py-3">Goole Spreadsheet with data:
            <a *ngIf="pagefeed_speadsheet" target="_blank"
              href="https://docs.google.com/spreadsheets/d/{{pagefeed_speadsheet}}">https://docs.google.com/spreadsheets/d/{{pagefeed_speadsheet}}</a>
            <div class="alert alert-dark my-4" *ngIf="pagefeed_speadsheet">
              Please go to Google Ads (Tools&amp;Settings / Setup / Business data) and create a new page feed with the
              name <span class="font-monospace text-info">{{pagefeed_name}}</span> following <a
                href="https://support.google.com/google-ads/answer/7364634" target="_blank">the docs</a>.
              Then set up a schedule for auto-updating the feed using the generated Google Spreadsheet following
              <a href="https://support.google.com/google-ads/answer/7364396" target="_blank">the docs</a>
              (you will need to share the doc with a user which Google Ads tells you - something like
              xxx-account@partnercontent.gserviceaccount.com).
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button mat-button matStepperNext>Next</button>
          </div>
        </div>
      </ng-template>
    </mat-step>
    <!-- step 2 -->
    <mat-step>
      <ng-template matStepLabel>Generate ad customizers</ng-template>
      <ng-template matStepContent>
        <div class="row">
          <div class="col">
            <p>Press Run to generate ad customizers data, as it completes you'll get a CSV file and Google Spreadsheet
            </p>
            <button mat-raised-button (click)="generateAdcustomizers()" color="accent" class="mat-elevation-z2">
              Run
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col py-3">Goole Spreadsheet with data:
            <a *ngIf="adcustomizer_speadsheet" target="_blank"
              href="https://docs.google.com/spreadsheets/d/{{adcustomizer_speadsheet}}">https://docs.google.com/spreadsheets/d/{{adcustomizer_speadsheet}}</a>
            <div class="alert alert-dark my-4" *ngIf="adcustomizer_speadsheet">
              Please go to Google Ads (Tools&amp;Settings / Setup / Business data) and create a new ad customizer feed
              ("Ad customizer data for text ads") with the name <span
                class="font-monospace text-info">{{adcustomizer_feed_name}}</span> following <a
                href="https://support.google.com/google-ads/answer/6093368" target="_blank">the docs</a>.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col"><button mat-button matStepperPrevious>Back</button></div>
          <div class="col"><button mat-button matStepperNext>Next</button></div>
        </div>
      </ng-template>
    </mat-step>
    <!-- step 3 -->
    <mat-step>
      <ng-template matStepLabel>Generate ad campaign</ng-template>
      <ng-template matStepContent>
        <div class="row">
          <div class="col">
            <p>Press Run to generate ad campaign data, and as it completes you'll get a zip file with CSV
              for <a href="https://ads.google.com/home/tools/ads-editor/" target="_blank">Google Ads Editor</a> and
              images
            </p>
            <button mat-raised-button (click)="generateAdCampaign()" color="accent" class="mat-elevation-z2">
              Run
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col"><button mat-button matStepperPrevious>Back</button></div>
        </div>
      </ng-template>
    </mat-step>
  </mat-stepper>
</form>