<mat-toolbar>
  <button mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Product DSA</span>
  <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
  <a mat-button routerLink="/config" routerLinkActive="active">Configuration</a>
  <span class="toolbar-spacer"></span>
  <mat-form-field  color="accent" class="target-selector">
    <mat-label>Target</mat-label>
    <mat-select color="accent" [value]="selectedTarget" (selectionChange)="onTargetChanged($event.value)">
      <mat-option *ngFor="let target of targets" [value]="target.name">
        {{target.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span class="toolbar-spacer"></span>
</mat-toolbar>