.app-popover-content {
  font-size: 12px;
}
::ng-deep .app-popover {
  max-width: inherit !important;

  .mat-menu-item {
    height: auto;
    white-space: normal;
    line-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    padding: 1rem;
    user-select: auto;

    &.cdk-program-focused:not([disabled]),
    &:hover:not([disabled]) {
      background: inherit;
    }
  }

  .mat-menu-content {
    padding: 0;
  }
}