html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.alert-dark {
  background-color: rgb(85, 85, 85);
  color: white;
}

.editable-table .mat-row:hover {
  cursor: pointer;
}
.mat-row:hover { 
  background-color: rgb(70, 70, 70);
}

.full-width {
  width: 100%;
}